body {
	background-color: white;
	font-family: arial, sans-serif;
	text-align: center;
}


nav {
	display: grid;
}


main {
	display: grid;
}


li {
	float: left;
	padding: 8px;
	list-style-type: none;
}
