body {
	background-color: white;
	font-family: arial, sans-serif;
	text-align: center;
}


nav {
	display: grid;
	justify-items: center;
	padding: 1rem;
}


main {
	display: grid;
	min-height: 200px;
}


li {
	float: left;
	padding: 8px;
	list-style-type: none;
}
